;; shadow-cljs configuration
{:deps true
 :nrepl {:port 7002}
 :builds {:main {:target :browser
                 :output-dir "target/cljsbuild/public/js"
                 :asset-path "/js"
                 :modules {:client {:init-fn jawt.client/init
                                    :entries [jawt.client]}}
                 :devtools {:after-load jawt.client/refresh
                            :watch-dir "resources/public"
                            :preloads []}
                 :dev {:compiler-options {:closure-defines {}}}
                 :release {:build-options {:ns-aliases {}}}}}}
